#mikel-logo {
	width: 320px;
	padding: 10px;
	border: 5px solid black;
	margin: 0; 
}

#homepage {
	top: 50%;
	left: 25%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 200px;
    padding-right: 50px;
    padding-bottom: 200px;
    padding-left: 50px;
}

#puggle-me-home {
	width: 350px;
}

input[type="text"] {
	font-size: 24px;
}

#submit-button {
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
}

#bing-input {
	width: 400px;
	height: 50px;
}

#bing-input-from-results {
	width: 400px;
	height: 50px;
}

#bing-data-usage {
	font-style: italic;
	font-size: 30px;
}

#result-page {
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	left: 50%;
}​

