{% extends 'base.html' %}
{% block content %}

<a href="/bingSearchHomepage"><button type='button' id='binghomepage'>Another Search</button></a>
<a href="/"><button type='button' id='homepage'>Enter URL</button></a>
<!-- title, description, url, kb -->
{% for structure in page_data_structure %}

<h3><a href="{{ structure['url'] }}">{{ structure['title'] }}</a></h3>
<p>[URL] {{ structure['url'] }}</p>
<p>[description] {{ structure['description'] }}</p>
<p id='bing_data_usage'>data usage {{ structure['data'] }}</p>

{% endfor %}

{% endblock %}