{% extends 'base.html' %}
{% block content %}

<a href="/"><img src="../static/PuggleMe1.jpg" id="puggle-me-result"></a>

<form action='/result' id='search-box'>
	<input type='text' placeholder='What else would you like to search?' name='bing_input' 
	id='bing-input-from-results'>
	<button type="submit" id='submit-button-results'>Search</button>
</form>

{% for structure in results %}

	<h3><a href="{{ structure.url }}" target="_blank">{{ structure.url }}</a></h3>
	<p>[URL] {{ structure.url }}</p>
	<p>[description] {{ structure.description }}</p>
	<p id='bing-data-usage'>website data usage: {{ structure.size }}</p>

{% endfor %}
</div>

{% endblock %}